<div class="countdownHolder">
  <!-- <p style="font-size:40px;">
    Press Start <br />
    <small>
      Have fun! :) <br />
      <small>
        read the comments
      </small>
    </small>
  </p> -->

  <span class="position">
    <span class="digit static">
      1
    </span>
  </span>

  <!-- <span class="countDiv"></span> -->
</div>
<button type="button" (click)="timerService.uiTimer.btnStartSubject.next()">
  Start
</button>
<button type="button" (click)="timerService.uiTimer.btnPauseSubject.next()">
  Pause
</button>
<br />
<button type="button" (click)="timerService.uiTimer.btnSetToSubject.next()">
  Set To
</button>
<input style="width:40px" type="number" min="0" [formControl]="setTo"/>
<!-- I'm sorry for this, but I was lazy.. :) -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button">
  Reset
</button>
<br />
<button type="button" (click)="timerService.uiTimer.btnUpSubject.next()">
  Count Up
</button>
<button type="submit" type="button" (click)="timerService.uiTimer.btnDownSubject.next()">
  Count Down
</button>
<br />
<label>
  Tick Speed
</label>
<input style="width:60px" type="number" min="0" [formControl]="speedTick"/>

<!-- I'm sorry for this, but I was lazy.. :) -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<label>
  Count Diff
</label>
<input
  style="width:60px"
  type="number"
  min="0"
  [formControl]="diff"
/>
